*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    --progress: 30
    height: 100vh;
    background: #0C2233;
    color: white;
    font-family: 'Delius Unicase', cursive;
    
}

::-webkit-scrollbar{
   width: 0;
}

#root{
    display: flex;
    justify-content: center;
    

}
